.manish {
	display:block;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    height:200px;
}


.fas fa-file-alt
{
	align:left;
	font-size:12px;

}

.fas fa-archive
{
	align:left;
	font:10px;
	text-color:blue;
}

.fas fa-pen
{
	float:left;
	text-color:blue;
}

.fas fa-rupee-sign
{
	align:left;
    text-color:blue;
}

.fas fa-user
{
    float:right;
   text-color:blue;
}