
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;



//Theme 1(Dark Theme)
/* $theme-color: #303030;
$theme-color-light: rgb(68, 68, 68);
$theme-color-text-black-light: #8e8e8e;
$theme-footer-color-light: #444444;
$theme-shade-color: 303030;
$color-red: #ff516b; */

//Theme 2(Light Theme)
$theme-color: #303030;
/* $theme-color-light: rgb(68, 68, 68); */
$theme-color-light: #fff;
$theme-color-text-black-light: #8e8e8e;
$theme-footer-color-light: #444444;
$theme-shade-color: #ddd;
$color-red: #ff516b;